#productDetailImage {
    width: 25em;
    height: 25em;
    object-fit: scale-down;
    position: absolute;
    
}



#imageContainer {
    border-radius: 20px;
    width: 27em;
    height: 27em;
    overflow: hidden;
    position: relative;
}








  #relatedProductsContainer {
    width: 100%;
    display: inline-flex;
    height: 25em;
    padding-bottom: 3%;
    overflow-x: scroll;
    user-select: none;
    overflow-y: hidden;
  }
  #relatedProductsContainer::-webkit-scrollbar {
    -webkit-appearance: none;
    touch-action: cross-slide-x;
   
  }
  
  .relatedProducts {
    width: 25%;
    height: 25em;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    
  }
    #muestra3 {
      position: relative;
      transition: all 1s ease-in-out;
      width: 10em;
      height: 15em;
      overflow: hidden;
      border-radius: 10px;  
      
    }
    
        .cardImage {
         pointer-events: none;
          z-index: 0;
          height: 15em;
            width: 10em;
            object-fit: cover;
            object-position: center;
        }
        #muestra3:hover {
          height: 25em;
        }
        .imageContainer {
          width: 10em;
          user-select: none;
          overflow: hidden;
          height: fit-content;
          width: 100%;
            height: 15em;
            transition: all 1s ease-in-out;
        }
        .imageContainer:hover {
          overflow: visible;
          height: 15em;
          width: 10em;
        }
  





.likeAndViewButton,
.link {
  background-color: transparent;
  color: aliceblue;
  border: none;
  margin: auto;
  width: 2em;
  display: flex;
  justify-content: center;
  align-content: center;
  
  
}
.link {
  width: fit-content;
  height: fit-content;
  text-decoration: none;
}

.favorite {
  width: 2em;
  cursor: pointer;
  filter: invert(100%);
  mix-blend-mode: difference;
  
}

.favorite.fill {
  animation: 1s ease-in backwards heartfilled;
  filter: invert(100%);
  mix-blend-mode: normal;
 
}

.favorite.break {
  position: absolute;
 display: none
}


#muestra3 .imageContainer:hover{
   height: 15em;
}



.m3favoriteContainer {
  position: absolute;
  top: 3%;
  right: 3%;
}



.detailsZone {
  
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: fit-content;
  width: 100%;
  background-color: rgba(173, 173, 173, 0.631);
  color: rgb(87, 87, 88);
 
 
}


#muestra3 .detailsZone h1 {
  font-size: 1.2em;
  justify-content: space-around;
  
  
}


.productName {
  height: fit-content;
  display: inline-flex;
 overflow: hidden;
  justify-content: space-around;
  width: 100%;
  text-align: center;
}
.price {
  display: inline-flex;
  height: fit-content;
  justify-content: center;
  text-align: end;
  width: 100%;
  font-style: italic;
  font-weight: lighter;

}

.addToCartButton{
  background-color: transparent;
  border: none;
  display: inline-flex;
  height: fit-content;
  justify-content: right;
  position: absolute;
  top: 60%;
  right: -10%;
}

.addToCartButton img {
  filter: invert(100%);
 mix-blend-mode: difference;
  width: 2em;
  height: 2em;
}
.addToCart {
 width: 20%;
  display: inline-flex;
  align-items: center;
}


@keyframes heartfilled {
  0% {
    transform: scale(100%);
  }
  50% {
    transform: scale(150%);
  }
  100% {
    transform: scale(100%);
  }
  
}
